Repository osl-pocs/poc-arrow: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, cppcheck, cmake-format, cmake-lint

clang-tidy:
  name: clang-tidy
  entry: ./scripts/run-clang-tidy.sh
  language: system
  pass_filenames: true
  stages:
  - commit

clang-format:
  name: clang-format
  entry: clang-format --Werror --style=file -i --verbose
  language: system
  pass_filenames: true
  stages:
  - commit

cppcheck:
  name: cppcheck
  entry: cppcheck --std=c++17 arrow-cpp/
  language: system
  pass_filenames: false
  stages:
  - commit

cmake-format:
  name: cmake-format
  entry: cmake-format
  language: system
  pass_filenames: true
  stages:
  - commit
  args:
  - -i

cmake-lint:
  name: cmake-lint
  entry: cmake-lint
  language: system
  pass_filenames: true
  stages:
  - commit

Add initial code for c poc
  arrow-c/CMakeLists.txt
  arrow-c/Makefile
  arrow-c/cmake/FindGLIB.cmake
  arrow-c/src/pocarrow.c
Due: clang-format, cppcheck, cmake-format, cmake-lint

Improve structure
  arrow-c/CMakeLists.txt
  arrow-c/src/examples_scalars.c
  arrow-c/src/examples_scalars.h
  arrow-c/src/examples_values.c
  arrow-c/src/examples_values.h
  arrow-c/src/main.c
  arrow-c/src/pocarrow.c
  arrow-c/src/utils.c
  arrow-c/src/utils.h
Due: clang-format, cppcheck, cmake-format, cmake-lint

Add meson as a build option
  .github/workflows/build.yaml
  arrow-c/CMakeLists.txt
  arrow-c/Makefile
  arrow-c/meson.build
  arrow-c/src/examples-arrays.c
  arrow-c/src/examples-arrays.h
  arrow-c/src/examples-scalars.c
  arrow-c/src/examples-scalars.h
  arrow-c/src/examples-values.c
  arrow-c/src/examples-values.h
  arrow-c/src/main.c
  conda/dev.yaml
Due: clang-format, cppcheck, cmake-format, cmake-lint

Add initial code for c poc (#1)
  .github/workflows/build.yaml
  arrow-c/CMakeLists.txt
  arrow-c/Makefile
  arrow-c/cmake/FindGLIB.cmake
  arrow-c/meson.build
  arrow-c/src/examples-arrays.c
  arrow-c/src/examples-arrays.h
  arrow-c/src/examples-scalars.c
  arrow-c/src/examples-scalars.h
  arrow-c/src/examples-values.c
  arrow-c/src/examples-values.h
  arrow-c/src/main.c
  arrow-c/src/pocarrow.c
  arrow-c/src/utils.c
  arrow-c/src/utils.h
  conda/dev.yaml
Due: clang-format, cppcheck, cmake-format, cmake-lint

Add example for boolean
  arrow-c/CMakeLists.txt
  arrow-c/Makefile
  arrow-c/cmake/FindGLIB.cmake
  arrow-cpp/CMakeLists.txt
  arrow-cpp/Makefile
  arrow-cpp/cmake/c++-standards.cmake
  arrow-cpp/meson.build
  arrow-cpp/src/examples-scalars.cpp
  arrow-cpp/src/examples-scalars.h
  arrow-cpp/src/examples-simple.cpp
  arrow-cpp/src/examples-simple.h
  arrow-cpp/src/main.cpp
  arrow-cpp/src/utils.cpp
  arrow-cpp/src/utils.h
  arrow-cpp/test.arrow
  conda/dev.yaml
Due: clang-format, cppcheck, cmake-format, cmake-lint

Fix build command
  .github/workflows/build.yaml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Add makim for support tasks
  arrow-c/.makim.yaml
  arrow-cpp/.makim.yaml
  conda/dev.yaml
Due: none

Add new scalar examples
  arrow-c/src/examples-scalars.c
  conda/dev.yaml
Due: clang-format, cppcheck

Add initial notebooks for c and cpp
  .clang-format
  .gitignore
  .pre-commit-config.yaml
  README.md
  arrow-c/Makefile
  arrow-c/notebooks/scalars.ipynb
  arrow-c/src/examples-arrays.c
  arrow-c/src/examples-scalars.c
  arrow-cpp/notebooks/arrow-c-glib.ipynb
  arrow-cpp/notebooks/arrow-cpp-cookbook.ipynb
  arrow-cpp/notebooks/arrow-utils.ipynb
  conda/dev.yaml
Due: clang-format, cppcheck

Path conditions:
  clang-tidy: any of: arx/src/.*\.cpp and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$ and not (^$)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cmake-format: any of: (arrow-cpp/\.cmake|arrow-cpp/CMakeLists.txt|arrow-c/\.cmake|arrow-c/CMakeLists.txt)(.in)?$, but not: ^$
  cmake-lint: any of: (CMakeLists.txt)(.in)?$, but not: ^$
